# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.firstGame.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\GNG\firstGame\.idea\.idea.firstGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
